# Server Port
PORT=

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT Configuration
AUTH_SIGNING_KEY=

# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# Redis Configuration
REDIS_SENTINEL_HOSTS=
REDIS_MASTER_NAME=
REDIS_HOST=
REDIS_TYPE=
REDIS_PASSWORD=
